@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #fff;}

body{
    font-family: 'Pretendard-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: url(../image/bg.png) no-repeat center center fixed;
    background-size: cover;
    text-shadow: -1px 0 0 #000, 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000;
}

/*헤더*/
.header{
    width: 1320px;
    height: 75px;
    margin: 100px auto 50px;
    position: relative;
}
.logo{
    position: absolute;
    top: -50%;
    left: 0;
}
.nav{
    position: absolute;
    top: 50%;
    right: 0;
    width: 750px;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}
.nav li{
    float: left;
    font-size: 30px;
}
.nav li a:hover{
    color: rgb(210, 0, 0);
}
.on{
    color: rgb(210, 0, 0);
}
.m_nav{
    display: none;
}

/*메인*/
#box{
    width: 1320px;
    margin: 250px auto 0;
    position: relative;
    font-size: 30px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.box1{
    width: 660px;
    height: 439px;
    background: url(../image/object1.png);
}
.box2{
    width: 119px;
    height: 720px;
    background: url(../image/object2.png);
    position: absolute;
    top: -20px;
    left: 0;
}
.box2 a{
    position: absolute;
    bottom: 70px;
    left: 20px;
}
.box3{
    width: 269px;
    height: 463px;
    background: url(../image/object3.png);
    position: absolute;
    top: -100px;
    right: 370px;
}
.box3 a{
    position: absolute;
    top: 260px;
    right: 90px;
}
.box4{
    width: 460px;
    height: 605px;
    background: url(../image/object4.png);
    position: absolute;
    top: 80px;
    right: 0;
}
.box4 a{
    position: absolute;
    top: 300px;
    right: 220px;
}
#box a:hover{
    color: rgb(210, 0, 0);
}
#m_box{
    display: none;
}

/*본문*/
.body{
    width: 1320px;
    margin: 150px auto;
}
h1{
    margin-bottom: 40px;
    font-size: 30px;
    color: rgb(210, 0, 0);
}
.body ul{
    margin-top: 100px;
}
.body ul li{
    margin-bottom: 30px;
}
.bold{
    font-size: 18px;
    font-weight: 900;
    color: rgb(210, 0, 0);
    padding-bottom: 10px;
}
p{
    margin-bottom: 30px;
}

/*세계관*/
.red{
    font-weight: 900;
    color: rgb(210, 0, 0);
}
#map{
    margin: 0 auto 200px;
    text-align: center;
}
.map{
    margin: 0 auto;
    margin-top: -100px;
    width: 600px;
}
.map img{
    margin-bottom: 50px;
    display: block;
}
#map ul li{
    margin-bottom: 20px;
}
.map_inner ul li a{
    text-decoration: underline;
}

/*시스템*/
#system{
    width: 1320px;
    margin: 150px auto;
}
#system a{
    display: inline-block ;
}
.system ul{
    margin: auto;
    margin-top: 100px;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}
.system1 ul li{
    margin-bottom: 20px;
}
.system1{
    display: none;
}
table{
    border-collapse: collapse;
    margin-bottom: 30px;
}
td{
    padding: 0 5px;
}
caption{
    color: rgb(210, 0, 0);
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 30px;
}

/*멤버*/
#member{
    margin: auto;
    padding: 100px 0 200px;
}
.member_inner{
    width: 1320px;
    margin: auto;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;        
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    align-content: space-between;
    align-items: baseline;
}
.member_inner ul li{
    float: left;
    width: 330px;
    padding-bottom: 100px;
}
.member_inner ul li a{
    display: inline-block;
}
.member_inner ul li a img{
    width: 220px;
}

/*캐릭터*/
#chara{
    position: relative;
}
.chara_inner{
    width: 1320px;
    margin: 200px auto;
    text-align: center;
}
h2{
    color: rgb(210, 0, 0);
    font-size: 20px;
    margin: 70px 0 20px;
}
h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

/*태블릿*/
@media(max-width: 1319px){
    .header{
        width: 90%;
        margin: 50px auto;
    }
    .nav{
        width: 50%;
    }
    #box{
        width: 90%;
        margin: 100px auto 0;
    }
    .box1{
        transform: scale(0.8, 0.8);
        position: absolute;
        left: -50px;
    }
    .box2{
        transform: scale(0.8, 0.8);
        top: -50px;
    }
    .box3{
        transform: scale(0.8, 0.8);
        top: -50px;
        right: 220px;
    }
    .box4{
        transform: scale(0.8, 0.8);
        right: -20px;
    }
    .body{
        width: 90%;
        padding: 0 5%;
    }
    #system{
        width: 80%;
    }
    .system img{
        width: 90%;
    }
    table{
        width: 100%;
        margin: auto;
        margin-bottom: 2%;
        font-size: 14px;
    }
    .member_inner{
        width: 100%;
    }
    .member_inner ul li{
        width: 30%;
        margin: 0 1.5%;
        padding-bottom: 0px;
        margin-bottom: 5%;
    }
    .chara_inner{
        width: 100%;
    }
}

/*메인*/
@media(max-width: 1129px){
    .nav li{
        font-size: 25px;
    }
    #box{
        display: none;
    }
    #m_box{
        display: block;
        width: 100%;
        margin: 0 auto;
        font-size: 30px;
    }
    .box1{
        position: relative;
        transform: scale(0.9, 0.9);
        left: 50%;
        margin-left: -330px;
    }
    .box2{
        position: absolute;
        transform: scale(0.9, 0.9);
        top: -50px;
        left: 550px;
    }
    .box3{
        position: absolute;
        transform: scale(0.9, 0.9);
        top: 300px;
        left: -10px;
    }
    .box4{
        position: absolute;
        transform: scale(0.9, 0.9);
        top: 250px;
        left: 165px;
    }
}

/*시스템*/
@media(max-width: 999px){
    #system{
        width: 90%;
    }
}

/*모바일 내비*/
@media(max-width: 700px){
    .nav{
        display: none;
    }
    /*모바일 내비 보이게 만들기!!*/
    .m_nav{
        display: block;
        margin-top: 100px;
    }

    /*모바일 내비 꾸미기*/
    /*움직이는 메뉴버튼*/

    input[id="menuicon"]{
        display:none;
    }

    /*메뉴 아이콘 버튼 크기, 위치*/
    input[id="menuicon"]+label{
        display:block;
        width:50px;
        height:30px;
        position:fixed;
        right:10%;
        top:80px;
        z-index:2;
        transition:all 0.5s;
        cursor:pointer;
    }

    /*메뉴 버튼 클릭했을 때 X버튼 색상*/
    input[id="menuicon"]:checked+label span{
        background: rgb(210, 0, 0);
        ;
    }

    /*메뉴 세줄 버튼*/
    input[id="menuicon"]+label span{
        display:block;
        position:absolute;
        width:100%;
        height:5px;
        border-radius:30px;
        background:#fff;
        transition:all 0.5s;
    }
    input[id="menuicon"]+label span:nth-child(1){
        top:0;
    }
    input[id="menuicon"]+label span:nth-child(2){
        top:50%;
        transform:translateY(-50%);
    }
    input[id="menuicon"]+label span:nth-child(3){
        bottom:0;
    }

    /*메뉴 버튼 클릭했을 때 세줄버튼에서 X버튼으로 바뀌는 모습*/
    input[id="menuicon"]:checked+label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
    input[id="menuicon"]:checked+label span:nth-child(2) {opacity:0;}
    input[id="menuicon"]:checked+label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}


    /*메뉴 창*/
    .sidebar{
        width:50%;
        height:100%;
        background: rgba(0, 0, 0, 0.5);
        position:fixed;
        top:0;
        right:-100%;
        z-index:1;
        transition:all 0.5s;
    }
    input[id="menuicon"]:checked+label+div{
        right:0;
    }
    .sidebar ul{
        margin-top: 120px;
    }
    .sidebar ul li a{
        display: block;
        padding: 30px;
        color: #fff;
        font-size: 30px;
    }
}

/*700*/
@media(max-width: 699px){
    .header{
        margin-bottom: 0;
    }
    .logo img{
        transform: scale(0.9, 0.9);
    }
    .box1{
        transform: scale(0.9, 0.9);
    }
    .map_inner{
        width: 90%;
        padding: 0 5%;
    }
    .map{
        width: 300px;
    }
    .map img{
        width: 300px;
    }
    #system{
        width: 100%;
    }
    .system{
        display: none;
    }
    .system1{
        display: block;
    }
    .member_inner ul li{
        width: 46%;
        margin: 0 2%;
        margin-bottom: 10%;
    }
    .chara_inner{
        margin: 100px auto;
    }
}

/*600*/
@media(max-width: 599px){
    .logo img{
        transform: scale(0.8, 0.8);
    }
    .sidebar ul li a{
        padding: 25px;
        font-size: 25px;
    }
    .box1{
        transform: scale(0.7, 0.7);
    }
    .chara_inner img{
        width: 300px;
    }
}

/*500*/
@media(max-width: 499px){
    .logo img{
        transform: scale(0.7, 0.7);
    }
    .sidebar ul li a{
        padding: 20px;
        font-size: 20px;
    }
    #m_box{
        height: 300px;
    }
    .box1{
        transform: scale(0.6, 0.6);
        top: -50px;
    }
    .member_inner ul li a img{
        width: 150px;
    }
}

/*400*/
@media(max-width: 399px){
    .logo img{
        transform: scale(0.6, 0.6);
    }
    .box1{
        transform: scale(0.5, 0.5);
        top: -100px;
    }
    table{
        font-size: 12px;
    }
}